html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: white;
  background: #27374d;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  .container {
    margin-left: 20px !important;
  }
  h1 {
    font-size: 30px !important;
  }

  /* .logo-container{
    
  } */
}
